<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuffettFive</title>
    <link rel="stylesheet" href="/static/mvp.css">
</head>
<body>
    <header>
        <nav>
        <h1>{{ .title }}</h1>
            <ul>
                <li><a href="/static/usage.html">Usage</a></li>
                <li><a href="/static/support.html">Support</a></li>
                <li><a href="/static/login.html">Login</a></li>
                <li><a href="/static/signin.html">Sign in</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Must</h2>
            <ul>
                {{ range .todos }}
                    {{ if eq .Category "must" }}
                        <li>
                            <a href="/todos/edit?id={{.ID}}">{{ .Content }}</a> <a href="/todos/destroy?id={{ .ID }}">[Delete]</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </section>
        <section>
            <h2>Want</h2>
            <ul>
                {{ range .todos }}
                    {{ if eq .Category "want" }}
                        <li>
                            <a href="/todos/edit?id={{.ID}}">{{ .Content }}</a> <a href="/todos/destroy?id={{ .ID }}">[Delete]</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </section>
        <section>
            <form role="form" action="/todos/save" method="POST">
                <textarea class="form-control" name="content" id="content" placeholder="Add todo" rows="4"></textarea>
                <select name="category">
                    <option value="must">Must</option>
                    <option value="want"selected>Want</option>
                </select>
                {{ if .errorMessage }}
                    <p style="color:red;">{{ .errorMessage }}</p>
                {{ end }}
                <button type="submit">Create</button>
            </form>
        </section>
    </main>
</body>
</html>
